body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://www.aflo.com/pages/creative/worldheritage/img/japan/gal/95602546.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.5);
}

main {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2em ;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    text-align: center;
    color: #333;
}

main p {
    color: #333;
}

main nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

main nav ul li {
    margin: 1em 0;
    width: calc(50% - 1em);
}

main nav ul li form {
    display: flex;
    justify-content: center;
}

main nav ul li form button {
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    padding: 1em;
    background-color: #4CAF50;
    border: none;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

main nav ul li form button:hover {
    background-color: #fff;
    color: #4CAF50;
    transform: scale(1.05);
}

main nav ul li form button:before, button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #4CAF50;
    transition: 400ms ease all;
}
main nav ul li form button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
main nav ul li form button:hover:before, main nav ul li form button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}