body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://www.aflo.com/pages/creative/worldheritage/img/japan/gal/95602546.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    
}

.hero form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.hero button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #00aaff;
    color: white;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    border-radius: 10px;
}

.hero button:hover {
    background: #0088cc;
    transform: scale(1.05);
}

#map {
    height: 50%;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

/* エラーメッセージ表示用 */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

/* フェードイン */
#in,#in2,#in3,#in4,#in5,#in6,#in7 {
    display: none;
}