/* 共通のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景画像を設定 */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/fuji-mountain-kawaguchiko-lake-morning-autumn-seasons-fuji-mountain-yamanachi-japan_335224-102.jpg?t=st=1717913272~exp=1717916872~hmac=76d5fa66f799e84c4eea5197344dbccbe4358452a8840ca00b15f3bf60f640d9&w=996'); /* 画像ファイルのパス */
    background-size: cover; /* 画像を全体にフィットさせる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    min-height: 100vh; /* 背景画像が画面全体を覆うようにする */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* サインアップフォームのスタイル */
.signup-container {
    background-color: rgba(255, 255, 255, 0.9); /* 不透明度を高める */
    padding: 30px; /* パディングを増やす */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* シャドウを強くして浮き上がらせる */
    max-width: 500px; /* 幅を固定 */
    width: 100%;
    text-align: center; /* テキストを中央揃え */
}

/* フォームのスタイル */
form {
    display: flex;
    flex-direction: column;
}

/* 見出しのスタイル */
h2 {
    font-family: 'Times New Roman', Times, serif;
    align-self: center; /* h2を中央揃え */
    margin-bottom: 20px;
    font-size: 24px; /* フォントサイズを大きくする */
}

/* インプットグループのスタイル */
.input-group {
    margin-bottom: 15px;
}

/* ラベルのスタイル */
label {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px; /* フォントサイズを大きくする */
}

/* インプットのスタイル */
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* フォントサイズを大きくする */
}

/* ボタンのスタイル */
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #575757;
}

/* ログインリンクのスタイル */
.login-link {
    margin-top: 30px; /* 上部の余白を追加 */
}

.login-link p {
    margin-bottom: 10px; /* テキスト下の余白を追加 */
}

.login-link a {
    color: blue;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}