<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" th:href="@{/css/HomeStyles.css}">

    <link rel="icon" type="image/png" th:href="@{/img/DALLC2B7E202024-06-082019.png}">

    <script>
        function showError(message) {
            alert(message);
        }
    </script>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h2>旅行先を見つけよう</h2>
            <form th:action="@{/display}" method="post">
                <label>
                    <input type="text" id="location" placeholder="場所名を入力" name="location" required th:value="${location}">
                </label>
                <label>
                    <input type="text" placeholder="いつどれくらい行きたい？" name="longDays">
                </label>
                <label>
                    <input type="text" placeholder="食事の予算" name="food_budget">
                </label>
                <label>
                    <input type="text" placeholder="その他の予算" name="another_budget">
                </label>
                <button type="submit">Plan</button>
            </form>
            <button onclick="window.location.href='/map'">地図で選ぶ</button>
        </div>
    </main>
</div>

<script th:if="${error}" th:inline="javascript">
    showError([[${error}]]);
</script>
</body>
</html>
