<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" th:href="@{/css/HomeStyles.css}">

    <script>
        function showError(message) {
            alert(message);
        }
    </script>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h2>旅行先を見つけよう</h2>
            <form th:action="@{/display}" method="post">
                <label>
                    <input type="text" placeholder="場所名を入力" name="location">
                </label>
                <button type="submit">Plan</button>
            </form>
        </div>
        <div id="map"></div>
    </main>
</div>

<!-- エラーメッセージがある場合にポップアップ表示 -->
<script th:if="${error}" th:inline="javascript">
    showError([[${error}]]);
</script>
</body>
</html>
