<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" th:href="@{/css/HomeStyles.css}">

    <link rel="icon" type="image/png" th:href="@{/img/DALLC2B7E202024-06-082019.png}">

    <script>
        function showError(message) {
            alert(message);
        }
    </script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/favolist}">favolist</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h2 id="in">旅行先を見つけよう</h2>
            <form th:action="@{/display}" method="post">
                <div id="in2">
                    <label>
                        <input type="text" placeholder="場所名を入力" name="location" th:value="${location}">
                    </label>
                </div>

                <div id="in3">
                    <label>
                        <input type="text" placeholder="いつどれくらい行きたい？" name="schedule">
                    </label>
                </div>

                <div id="in4">
                    <label>
                        <input type="text" placeholder="食事の予算" name="food_budget">
                    </label>
                </div>

                <div id="in5">
                    <label>
                        <input type="text" placeholder="その他の予算" name="another_budget">
                    </label>
                </div>

                <div id="in6">
                    <button type="submit">Plan</button>
                </div>
            </form>


            <br>
            <div id="in7">
                <button onclick="window.location.href='/map'">地図で選ぶ</button>
            </div>
        </div>
    </main>

<script th:if="${error}" th:inline="javascript">
    showError([[${error}]]);
</script>

<!-- フェードイン -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script><script>
	    $('#in').fadeIn(1000);
        $('#in2').fadeIn(1200);
        $('#in3').fadeIn(1400);
        $('#in4').fadeIn(1600);
        $('#in5').fadeIn(1800);
        $('#in6').fadeIn(2100);
        $('#in7').fadeIn(2100);
	</script>
</body>
</html>