<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" th:href="@{/css/SightseeingStyles.css}">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/marked/marked.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="in">
            <div class="border"><h1>観光スポット</h1></div>
        </div>
        <p th:text="'選択した場所: ' + ${location}"></p>
        <p th:text="'予算: ' + ${another_budget}"></p>
        <p th:text="おすすめの観光地"></p>
        <p id="response1-markdown" th:text="${response1}"></p>
        <p th:text="おすすめの観光施設"></p>
        <p id="response2-markdown" th:text="${response2}"></p>
        <form th:action="@{/display}" method="post">
            <input type="hidden" name="location" th:value="${location}">
            <button type="submit">戻る</button>
        </form>
    </main>
</div>
</body>
</html>