<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Tango</title>
    <link rel="stylesheet" th:href="@{/css/WeatherStyles.css}">

    <link rel="icon" type="image/png" th:href="@{/img/DALLC2B7E202024-06-082019.png}">

</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="in">
            <div class="border"><h1>天気情報</h1></div>
        </div>
        まだできてないよーん＾＾
        <form th:action="@{/display}" method="post">
            <input type="hidden" name="location" th:value="${location}">
            <button type="submit">戻る</button>
        </form>
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	    $('#in').fadeIn(2000);
	</script>
</body>
</html>